<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>storeId</key>
		<integer>12369</integer>
		<key>storeName</key>
		<string>714street旗舰店</string>
		<key>selectState</key>
		<integer>0</integer>
		<key>goods</key>
		<array>
			<dict>
				<key>userId</key>
				<integer>123456</integer>
				<key>storeId</key>
				<integer>12369</integer>
				<key>goodsId</key>
				<integer>8420</integer>
				<key>storeName</key>
				<string>714street旗舰店</string>
				<key>goodsName</key>
				<string>714street夏季印花圆领短袖T恤男女情侣潮牌潮流纯棉宽松百搭体恤</string>
				<key>imageURL</key>
				<string>https://imgkr.cn-bj.ufileos.com/3863f05d-b3d5-410c-aee9-be748a48ee79.JPG</string>
				<key>quantity</key>
				<integer>1</integer>
				<key>price</key>
				<integer>129</integer>
				<key>stock</key>
				<integer>99</integer>
				<key>specification</key>
				<string>白色 M</string>
				<key>selectedState</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>storeId</key>
		<integer>12369</integer>
		<key>storeName</key>
		<string>714street旗舰店</string>
		<key>selectState</key>
		<integer>0</integer>
		<key>goods</key>
		<array>
			<dict>
				<key>userId</key>
				<integer>123456</integer>
				<key>storeId</key>
				<integer>12369</integer>
				<key>goodsId</key>
				<integer>8420</integer>
				<key>storeName</key>
				<string>714street旗舰店</string>
				<key>goodsName</key>
				<string>714street夏季印花圆领短袖T恤男女情侣潮牌潮流纯棉宽松百搭体恤</string>
				<key>imageURL</key>
				<string>https://imgkr.cn-bj.ufileos.com/3863f05d-b3d5-410c-aee9-be748a48ee79.JPG</string>
				<key>quantity</key>
				<integer>1</integer>
				<key>price</key>
				<integer>129</integer>
				<key>stock</key>
				<integer>99</integer>
				<key>specification</key>
				<string>白色 M</string>
				<key>selectedState</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>userId</key>
				<integer>123456</integer>
				<key>storeId</key>
				<integer>12369</integer>
				<key>goodsId</key>
				<integer>8420</integer>
				<key>storeName</key>
				<string>714street旗舰店</string>
				<key>goodsName</key>
				<string>714street夏季印花圆领短袖T恤男女情侣潮牌潮流纯棉宽松百搭体恤</string>
				<key>imageURL</key>
				<string>https://imgkr.cn-bj.ufileos.com/3863f05d-b3d5-410c-aee9-be748a48ee79.JPG</string>
				<key>quantity</key>
				<integer>1</integer>
				<key>price</key>
				<integer>129</integer>
				<key>stock</key>
				<integer>99</integer>
				<key>specification</key>
				<string>白色 M</string>
				<key>selectedState</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
